@import "nib"
@import "../common"

.forum-list
  margin: 0
  list-style: none
  padding: padding-small 0

.forum-list__link
  padding: padding-small padding-medium
  color: color-text
  font-weight: bold
  text-decoration: none
  display: block
