@import "nib"
@import "../common"

.search-container__input
  background: none
  width: 100%
  border: none
  outline: none
  padding: padding-medium
  font-size: 1.5em
  border-bottom: 1px solid color-divider
  color: inherit
