// Config
support-for-ie = false
vendor-prefixes = official

// Color
color-text = #444
color-background = #fafafa
color-accent = #1378BB
color-divider = #ddd
color-gray = #999
color-highlight-background = #FFFBE6
color-red = #F34235

// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size-base = 15px
line-height = 1.6

// Layout
padding-small = 8px
padding-medium = 16px
padding-large = 32px
header-height = 52px
