@import "nib"
@import "../common"

logo-width = 65px
logo-height = 25px

.header
  background: color-gray
  position: fixed
  top: 0
  left: 0
  right: 0
  height: header-height
  z-index: 1
  color: #fff

.header__btn
  height: header-height
  width: 100px
  font-size: 24px
  line-height: @height
  text-align: center
  border: none
  background: none
  padding: 0
  outline: none
  color: #fff
  float: left
